*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;

    section{
        background-position: center;
        background-size: cover;
        height: 100%;
        flex-grow: 1;
        transition: all 07s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }

    section:hover{
        flex-grow: 2;
    }
    
    section:nth-child(1){
        background-image: url('./asta.jpg');
    }
    section:nth-child(2){
        background-image: url('./yuno.jpg');
    }
    section:nth-child(3){
        background-image: url('./yami.jpg');
    }
    section:nth-child(4){
        background-image: url('./Noelle.jpg');
    }
    section:nth-child(5){
        background-image: url('./swallowtrail.jpg');
    }
}