*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
    height: 100vh;
    background-image: url('./assets/pexels-olly-3777556.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#navLogo > img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#nav{
    width: 100%;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 0;
    display: flex;
    gap: 40px;
}

#leftNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

a:hover{
    scale: 0.9;
    color: rgb(52, 51, 51);
}

#rightNav{
    margin-left: auto;
    align-self: center;    
    margin-right: 40px;
}

#rightNav > a:hover{
    scale: 0.9;
    color: rgb(31, 30, 30);
}

#bodyContent{    
    margin: 50px 0px 0px 130px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#dataDiv{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

#numData{
    font-size: 70px;
    font-weight: 100;
}

#textData{
    font-size: 20px;
    font-weight: 500;
    color: rgb(134, 133, 133);
    text-align: end;
}


#introDiv{
    margin-top: 20px;
    align-items: center;
}

#devGreetings{
    font-size: 200px;
    font-weight: 350;
}

#devIntro{
    font-size: 20px;
    font-weight: 400;
}

#scrollDownDiv{
    margin-top: 100px;
    
}

#scroll{
    font-size: 30px;
}

#downIcon{
    font-size: 20px;
}
