@font-face {
    font-family: inter-regular;
    src: url(inter_Inter-Regular.woff);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: inter-regular;
    
}

main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-areas: "section_nav section_nav section_nav section_nav"
                        "section_hero section_hero section_hero section_hero"
                        "section_stats section_stats section_stats section_stats"
                        "section_about section_about section_about section_about"
                        "section_expertise section_expertise section_expertise section_expertise"
                        "section_milestones section_milestones section_milestones section_milestones"
                        "section_testimonials section_testimonials section_testimonials section_testimonials"
                        "section_contact section_contact section_contact section_contact"
                        "footer footer footer footer"
                        "spacer spacer spacer spacer"
    ;
    gap:10px;
    padding:10px;
    overflow: visible;
}

#section_nav{
    grid-area: section_nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px
}

#headerLogo img{
    height: 32px;
}

#headerNav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#headerNav > h4{
    font-size: 16px;
    font-weight: 100;
}

#hearderContactbtn button{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 60px;
    background-color: #0161FE;
    color: white;
    border: none;
}



#section_hero{
    grid-area: section_hero;
    background-color: #F6F7F9;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.5fr 0.2fr 1fr;
    grid-template-rows: 0.5fr 30% 40%fr;
    grid-template-areas: "header-content header-content paragraph_wrap"
                        "header-content header-content buttons"
                        "figure figure figure"
    ;
    padding: 10px;
}

#section_hero #header-content{
    grid-area: header-content;
}

#header-content h1{
    font-size: 50px;
    font-weight: 500;
    padding: 70px 30px;
}

#section_hero #paragraph_wrap{
    grid-area: paragraph_wrap;
}

#paragraph_wrap p{
    font-size: 17px;
    color: #747575;
    padding: 70px 30px 30px 30px;
    line-height: 1.5rem;
    font-weight: 200;
}

#section_hero figure{
    grid-area: figure;
}

#section_hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 30px;
    border-radius: 50px;
}


#section_hero #buttons{
    grid-area: buttons;
    padding-left: 20px;
}

#section_hero #contact{
    background-color: #0161FE;
    color: white;
    border: none;
    margin: 10px;
}

#section_hero #free_trialbtn{
    background-color: transparent;
    color: #0161FE;
    border: 1px solid #0161FE;
}

#section_hero button{
    padding: 10px;
    font-size: 15px;
    border-radius: 60px;
    height: 80%;
    width: 15%;
    /* transform: scale(1.3); */
}



#section_stats{
    grid-area: section_stats;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

#statistics_card{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "statistics"
                        "statistics_name";
    gap: 20px;
}

.statistics{
    grid-area: statistics;
    text-align: center;
    font-size: 70px;
    color: black;
    font-weight: 100;
}

.statistics_name{
    grid-area: statistics_name;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #747575;
    text-wrap: wrap;
    
}

#section_about{
    grid-area: section_about;
    background-color: #F6F7F9;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: "about_us about_us aboutFigure"
                            "about_us about_us aboutFigure"
                            "about_content about_content aboutFigure"
    ;
    padding: 10px;
}


#section_about #about_us{
    grid-area: about_us;
}

#section_about figure{
    grid-area: aboutFigure;    
}

#section_about img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 30px;
    border-radius: 50px;
}

#section_about #about_content{
    grid-area: about_content;
    margin: 30px;
}

#section_about #aboutbtn{
    background-color: transparent;
    padding: 10px;
    font-size: 17px;
    color: #202833;
    border-radius: 60px;
    height: 10%;
    width: 18%;
    margin: 30px;
    border: 1.5px solid #202833;
    text-transform: uppercase;
}

#section_about #about_content h2{
    font-size: 35px;
    font-weight: 570;
    margin: 10px 0px 30px 0px;
}

#section_about #about_content p{
    font-size: 17px;
    color: #747575;
    gap: 10px;
    line-height: 1.5;
    font-weight: 100;
}

#section_expertise{
    grid-area: section_expertise;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "hero_expert hero_expert"
                            "header_content header_content "
                            "expertise_visual expertise_visual"
    ;
    padding: 10px;
}

#hero_expert{
    grid-area: hero_expert;
}

#hero_expert button{
    background-color: transparent;
    padding: 10px;
    font-size: 17px;
    color: #202833;
    border-radius: 60px;
    height: 40px;
    width: 10%;
    margin: 5% 30px 30px 30px;
    border: 1.5px solid #202833;
    text-transform: uppercase;
}

#header_content{
    grid-area: header_content;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "expert_heading expert_blank expert_para"
    ;
    padding: 30px;
    margin: 0;
}

#header_content #expert_blank{
    grid-area: expert_blank;
   
}

#header_content #expert_heading{
    grid-area: expert_heading;
    font-size: 25px;
    font-weight: 200;
}

#header_content #expert_para{
    grid-area: expert_para;
    font-size: 16px;
    color: #747575;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
}

#expertise_visual{
    grid-area: expertise_visual;
    display: flex;
    padding: 30px 0px 0px 30px;
    gap: 20px;
    flex-wrap: wrap;
    align-self: flex-start !important;  
}

#expertise_card{
    /* height: 550px;
    width: 430px; */
    height: 480px !important; 
    width: 23%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

#expertHead{
    position: absolute;
    font-size: 17px;
    color: white;
    bottom: 10%;
    height: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#expertHead h2{
    color: white;
    font-size:25;
}

#expertHead p{
    font-size:17px;
    color: #acb6b6;
    font-weight: 700;
}

#expertise_card #card_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}

#expertise_card #contact_media-wrap{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    bottom: 0%;
    transition: all ease 0.6s;
    color: transparent;
}

#contact_media-wrap:hover{
    background-color: #0161FE;
    cursor: pointer;
}

#contact_media-wrap:hover h2{
    padding: 30px 30px 0px 30px;
    color: white;
    font-weight: 100;
}

#contact_media-wrap:hover #position{
    padding: 5px 30px 0px 30px;
    color: rgba(255, 255, 255, 0.823)
}

#contact_media-wrap:hover #experinece{
    padding: 30px 30px 0px 30px;
    color: rgba(255, 255, 255, 0.823)
}

#contact_media-wrap:hover #socialMedia{
    color: white;
    font-size: 22px;
    padding: 60% 30px 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: end;   
    gap:20px; 
}

#contact_media-wrap:hover #iconDiv{
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}

#iconDiv:hover{
    background-color: white;
    color: #0161FE;
}

#section_milestones{
    background-color: #F6F7F9;
    border-radius: 20px;
    grid-area: section_milestones;
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 0.1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "hero_expert hero_expert  hero_expert hero_expert"
                            "header_content header_content header_content header_content"
                            "milestoneFigure milestoneFigure milestone_blank milestone_visual"
    ;
    padding: 10px;
}

#section_milestones figure{
    grid-area: milestoneFigure;  
}

#section_milestones img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 30px;
    border-radius: 50px;
}

#section_milestones #milestone_blank{
    grid-area: milestone_blank;
}

#milestone_visual{
    grid-area: milestone_visual;
}

#faq_content{
    display: grid;
    grid-template-columns: 0.1fr 1fr ;
    grid-template-rows: auto auto ;
    grid-template-areas: "accordion_icon  accordion_year"
                            "accordion_icon accordion_title";
    padding: 20px 10px;
}

#accordion_icon{
    grid-area: accordion_icon;
    font-size: 20px;
    color: white;
    border: 2px solid #6C6D6E;
    background-color:#6C6D6E ;
    border-radius: 50% ;
    padding: 5px;
    margin: 20px;
}

#accordion_year h6{
    grid-area: accordion_year;
    font-size: 20px;
    color:#6C6D6E ;
    margin: 5px;
}

#accordion_title h6{
    grid-area: accordion_title;
    font-size: 30px;
    color:#6C6D6E ;
    margin: 10px 5px 0 5px;
    font-weight: 400;
}

#section_testimonials{
    grid-area: section_testimonials;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "rating reviewerImage"
                            "review reviewerImage"
                            "info reviewerImage";
    padding: 10px;
}

#rating{
    grid-area: rating;
    margin: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

#rating img{
    height: 15%;
    width: 20%;
    object-fit: cover;
}

#rating #stars{
    font-size: 30px;
    color: #0161FE;
}

#review{
    grid-area: review;
    margin: 0px 30px 0px 30px;
}

#review h2{
    color: #4C4C4C;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.8rem;
}

#info{
    grid-area: info;
    margin: 30px;
}

#section_testimonials figure{
    grid-area: reviewerImage;
    
}

#info{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

#info h4{
    font-size: 20px;
    font-weight: lighter;
}

#info #post{
    color: #6C6D6E;
}

#section_testimonials img{
     height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 30px;
    border-radius: 50px;
}

#section_contact{
    grid-area: section_contact;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "hero_contact officeFigure  officeFigure"
                            "contactDetails officeFigure  officeFigure"
                            "contactDetails officeFigure  officeFigure"
    ;
    padding: 10px;
}

#hero_contact{
    grid-area: hero_contact;
}

#hero_contact button{
    background-color: transparent;
    padding: 10px;
    font-size: 17px;
    color: #202833;
    border-radius: 60px;
    height: 40px;
    width: 20%;
    margin: 5% 30px 30px 30px;
    border: 1.5px solid #202833;
    text-transform: uppercase;
}

#contact_heading{
    grid-area: contact_heading;
    padding: 0px 0px 0px 30px;
    margin: 0;
    font-size: 25px;
    font-weight: 100;
}

#section_contact figure{
    grid-area: officeFigure;
}

#contactDetails{
    grid-area: contactDetails;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 27% 30px 0px 30px;
}

#label h4{
    font-size: 22px;
    color: #6C6D6E;
    padding: 5px 0px 10px 0px;
    font-weight: 100;
}

#labelInfo h4{
    font-size: 22px;
    padding: 5px 0px 10px 0px;
    font-weight: 500;
}

#section_contact img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 30px;
    border-radius: 50px;
}

.socialContact{
    display: flex;
    gap: 20px;
}

.socialContact #iconDiv{
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
}

#iconDiv:hover{
    background-color: white;
    border: 1px solid #0161FE;
}

#footer{
    grid-area: footer;
    background-color: #232323;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "footerlogo footerNav "
                            "footerSub footerNav"
                            "footerSearch footerNav"
                            "copyright copyright"
    ;
    padding: 10px;
    color: white;
}

#footerlogo{
    grid-area: footerlogo;
    padding: 30px 30px 0px 30px;
}

#footerlogo img{
    height: 40px;
    width: auto;
}

#footerSub{
    grid-area: footerSub;
    padding: 30px 30px 15px 30px;
}

#footerSub h4{
    font-size: 22px;
    font-weight: 400;
}


#footerSearch{
    grid-area: footerSearch;
    padding: 0px 30px 30px 30px;
    display: flex;
    gap: 20px;
}

#footerSearch input{    
    padding: 20px;
    border-radius: 20px;
    background-color: #393939;
    width: 25%;
    height: 80%;
    border: none;
    caret-color: white;
}

#footerSearch button{   
    padding: 10px;
    font-size: 15px;
    border-radius: 60px;
    height: 80%;
    width: 15%;
    background-color: #0161FE;
    color: white;
    border: none;
}

#footerNav{
    grid-area: footerNav;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50px;

}

#footerNav nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 30px;
}

#footerNav > nav > h4{
    font-size: 17px;
    font-weight: 500;
    color: #B1AFB1;
}


#copyright{
    grid-area: copyright;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 33%;
}

#copyright p{
    font-size: 15px;
}


#copyrightSocial{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
