*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

:root{
    --x: 500px;
    --y: 500px;
}

/* body{
    background-image: url(https://images.pexels.com/photos/34302395/pexels-photo-34302395.jpeg);
    background-size: cover;
} */

main{
    height: 100%;
    width: 100%;
    position: relative;
}

#vid{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video{
    width: 100%;
    object-fit:cover;
    position: absolute;
    bottom: 0;
}

#box{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.556) 80%, rgba(0, 0, 0, 0.834));
}