@font-face {
    font-family: HugLove;
    src: url(./Huglove.ttf);
}

@font-face {
    font-family: superKindly;
    src: url(./Super\ Kindly.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1509023464722-18d996393ca8?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070');
    background-size: cover;
    text-align: center;
    padding: 100px;    
    font-family: HugLove;
}

h1{
    font-size: 100px;
    color:white;
}

button{
    margin-top: 40px;
    font-size: 20px;
    padding: 20px 40px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

button:hover{
    background-color:lightgray;
    transform: scale(1.05);
}