*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateAnimation {
    from {
        --rotate : 0deg;
    }

    to{
        --rotate: 360deg;
    }
}

#box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap:15px;
    box-shadow: 0 0 0px rgb(255, 0, 195);
     background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(255, 0, 123), black) border-box;
    border: solid 0px rgba(255, 255, 255, 0);  
    animation: rotateAnimation 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    text-shadow: 0 0 0px rgb(255, 0, 195);  
}

#box:hover{
    text-shadow: 0 0 10px rgb(255, 0, 195);  
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px rgb(255, 0, 195);
    color: rgb(255, 0, 195);;
}

#box img {
    width: 100%;
}