* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: clamp(12px, 1.1vw, 18px);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #121212;
}

@mixin flex_column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex_column(0rem);
  align-items: center;
  padding: 0.5rem;

  section.view1 {
    width: 100%;
    @include flex_column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      width: 100%;
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      @include flex_column(5rem);
      padding: 1.5rem;

      > p {
        font-size: 1.1rem;
        color: rgb(244, 242, 237);
        font-weight: 400;
        text-transform: uppercase;
      }

      .text {
        @include flex_column(1rem);

        h1 {
          text-transform: uppercase;
          color: rgb(244, 242, 237);
          font-size: 2.5rem;
          font-weight: 200;
        }

        p {
          font-size: 1.3rem;
          color: rgb(244, 242, 237);
          opacity: 0.6;
          font-weight: 100;
          line-height: 1.9rem;
        }

        .link {
          display: inline-flex;
          text-decoration: none;
          color: rgb(244, 242, 237);
          gap: 1rem;
          text-transform: uppercase;
          font-size: 1.1rem;
          font-weight: 500;
          align-items: center;
          margin-top: 2rem;

          .icon-box {
            border-radius: 80%;
            background-color: #292929;
            padding: 0.5rem;

            border: 1px solid rgb(244, 242, 237);

            i {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  section.view2 {
    width: 100%;
    @include flex_column(1rem);
    padding: 1rem;

    .top,
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: 1.5rem;
      .element {
        text-align: center;
        small {
          text-transform: uppercase;
          font-size: 0.88rem;
          color: rgb(244, 242, 237);
          opacity: 0.5;
        }

        h2 {
          font-size: 2.25rem;
          font-weight: 400;
          color: rgb(244, 242, 237);
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    @include flex_column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      @include flex_column(5rem);
      padding: 1.5rem;

      > p {
        font-size: 1.1rem;
        color: rgb(244, 242, 237);
        font-weight: 400;
        text-transform: uppercase;
      }

      .text {
        @include flex_column(1rem);

        h1 {
          text-transform: uppercase;
          color: rgb(244, 242, 237);
          font-size: 2.5rem;
          font-weight: 200;
        }

        .paragraphs {
          p {
            font-size: 1.3rem;
            color: rgb(244, 242, 237);
            opacity: 0.6;
            line-height: 1.9rem;
            font-weight: 100;
          }
        }
      }
    }
  }

  section.view4 {
    width: 100%;
    @include flex_column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      width: 100%;
      @include flex_column(5rem);
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      padding: 2rem;

      > p {
        color: rgb(244, 242, 237);
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
      }

      .text {
        @include flex_column(1rem);
        h1 {
          color: rgb(244, 242, 237);
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: 400;
        }

        .paragraphs {
          p {
            color: rgb(244, 242, 237);
            font-size: 1.3rem;
            font-weight: 100;
            line-height: 1.9rem;
            opacity: 0.6;
          }
        }
      }
    }
  }

  section.view5 {
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    .top,
    .bottom {
      padding: 1.3rem;
      width: 100%;
      display: flex;
      gap: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      h2 {
        font-size: 2.25rem;
        font-weight: 400;
        color: rgb(244, 242, 237);
      }

      .link {
        display: inline-flex;
        text-decoration: none;
        color: rgb(244, 242, 237);
        gap: 1rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
        align-items: center;
        margin-top: 2rem;

        .icon-box {
          border-radius: 50%;
          background-color: #292929;
          padding: 0.5rem;

          border: 1px solid rgb(244, 242, 237);

          i {
            font-size: 1rem;
          }
        }
      }
    }

    .bottom {
      opacity: 0;
    }
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.4rem;
          }

          p {
            width: 29rem;
            font-size: 1.2rem;
          }

          .link:hover {
            i {
              opacity: 0.5;
              transition: transform 0.4s ease, opacity 0.4s ease;
            }
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        .element {
          text-align: center;
          small {
            font-size: 0.88rem;
            font-weight: 400;
          }
          h2 {
            font-size: 3.75rem;
            font-weight: 300;
          }
        }
      }
    }

    section.view3 {
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          .paragraphs {
            display: flex;
            gap: 2rem;

            p {
              width: 27rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
    }

    section.view4 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
            font-weight: 200;
          }

          .paragraphs {
            display: flex;
            gap: 2rem;

            p {
              width: 27rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
      }
    }

    section.view5 {
      flex-direction: row;
      padding: 1rem 4rem;

      .bottom {
        opacity: 1;
        justify-content: flex-end;
      }
      .top,
      .bottom {
        h2 {
          font-size: 3.75rem;
          font-weight: 300;
        }
      }
    }
  }
}
