* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

// #box {
//   height: 400px;
//   width: 400px;
//   background-color: rgb(255, 34, 245);
//   border-radius: 10px;
//   border: 4px solid white;
// }

#btn {
  font-size: 30px;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  background-color: crimson;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  z-index: 9;
}

#btn:active {
  scale: 0.85;
}
